force-app/main/default/flows/SFDC_RecordTrigger_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Send_Conversation_Messages_Action_1</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Send Conversation Messages Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>DL_Verification_Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;Customer_Name&quot;,
    &quot;textValue&quot;: &quot;{!Customer_Name}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MUIDList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Completion_Conversation_Message</name>
        <label>Send Completion Conversation Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Test_Drive_Completion_Review_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;Booking_Name&quot;,
    &quot;textValue&quot;: &quot;{!Booking_Name}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MUIDList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Conversation_Messages_Action_1</name>
        <label>Send Conversation Messages Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Booking_Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;Booking_Name&quot;,
    &quot;textValue&quot;: &quot;{!Booking_Name}&quot;
  },
  {
    &quot;name&quot;: &quot;Booking_Location&quot;,
    &quot;textValue&quot;: &quot;{!Booking_Location}&quot;
  },
  {
    &quot;name&quot;: &quot;Booking_Vehicle&quot;,
    &quot;textValue&quot;: &quot;{!Booking_Vehicle}&quot;
  },
  {
    &quot;name&quot;: &quot;Booking_Date&quot;,
    &quot;textValue&quot;: &quot;{!Booking_Date}&quot;
  },
  {
    &quot;name&quot;: &quot;Booking_Time&quot;,
    &quot;textValue&quot;: &quot;{!Booking_Time}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MUIDList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_MUIDs</name>
        <label>assigne MUIDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MUIDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MUID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Booking_Vehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehicle__r.Model_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>status_update_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>status_update_check</name>
        <label>status update check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Drive Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Conversation_Messages_Action_1</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>DL_Verification_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DL Verification Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Send_Conversation_Messages_Action_1</targetReference>
            </connector>
            <label>DL Verification Failed</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Completion_Conversation_Message</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Booking_Date</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Test_Drive_Date_Time__c}), &quot;&quot;, TEXT(DATEVALUE({!$Record.Test_Drive_Date_Time__c})))</expression>
    </formulas>
    <formulas>
        <name>Booking_Location</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Lead__r.Street}, &quot;&quot;) &amp; &quot;, &quot; &amp; BLANKVALUE({!$Record.Lead__r.City}, &quot;&quot;) &amp; &quot;, &quot; &amp; BLANKVALUE({!$Record.Lead__r.State}, &quot;&quot;) &amp; &quot; &quot; &amp; BLANKVALUE({!$Record.Lead__r.PostalCode}, &quot;&quot;) &amp; &quot; &quot; &amp; BLANKVALUE({!$Record.Lead__r.Country}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Booking_Time</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.Test_Drive_Date_Time__c}),
  &quot;&quot;,
  IF(LEN(TEXT(HOUR(TIMEVALUE({!$Record.Test_Drive_Date_Time__c})))) = 1, &quot;0&quot;, &quot;&quot;) &amp;
    TEXT(HOUR(TIMEVALUE({!$Record.Test_Drive_Date_Time__c}))) &amp; &quot;:&quot; &amp;
  IF(LEN(TEXT(MINUTE(TIMEVALUE({!$Record.Test_Drive_Date_Time__c})))) = 1, &quot;0&quot;, &quot;&quot;) &amp;
    TEXT(MINUTE(TIMEVALUE({!$Record.Test_Drive_Date_Time__c})))
)</expression>
    </formulas>
    <interviewLabel>SFDC_Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFDC_RecordTrigger_Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assigne_MUIDs</targetReference>
        </connector>
        <object>Test_Drive__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Booking_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Booking_Vehicle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0PAak00000A8bflGAB</stringValue>
        </value>
    </variables>
    <variables>
        <name>MUIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
