force-app/main/default/flows/User_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_SetupDealerSkill</name>
        <label>action_SetupDealerSkill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DealerSkillSetupInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newZip</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldZip</name>
            <value>
                <elementReference>$Record__Prior.Dealer_Zip__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Dealer_Zip__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DealerSkillSetupInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec_SkillExists</name>
        <label>dec SkillExists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_New_Skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ExistingSkill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_SetupDealerSkill</targetReference>
            </connector>
            <label>Skill Exists</label>
        </rules>
    </decisions>
    <description>This will be used to auto create skills from Dealer Zip on user records for omni channel routing</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_SkillDevName</name>
        <dataType>String</dataType>
        <expression>&quot;Zip_&quot; &amp; {!$Record.Dealer_Zip__c}</expression>
    </formulas>
    <formulas>
        <name>formula_SkillLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Zip &quot; &amp; {!$Record.Dealer_Zip__c}</expression>
    </formulas>
    <interviewLabel>User - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Skill</name>
        <label>Create New Skill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <elementReference>formula_SkillDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <elementReference>formula_SkillLabel</elementReference>
            </value>
        </inputAssignments>
        <object>Skill</object>
    </recordCreates>
    <recordLookups>
        <name>get_ExistingSkill</name>
        <label>get ExistingSkill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_SkillExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_SkillDevName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_ExistingSkill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Zip__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Zip__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_NewSkillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
